kind: PersistentVolumeClaim
apiVersion: v1
metadata: 
  name: statefulset-data
spec: 
  volumeName: "statefulset-data"
  storageClassName: manual
  accessModes: ["ReadWriteMany"]
  resources: 
    requests: 
      storage: "$STORAGE_CAPACITY"
